<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>회원가입</title>
</head>
<body>
	<h1>회원가입 폼</h1>

	<form action="../RegisterServlet" method="post">


		<div class="input - id">
			<label for="id">ID : </label>
			<input type="text" id="id" name="id" required>
		</div>


		<div class="input - pw">
			<label for="pw">PW : </label>
			<input type="password" id="pw" name="pw">
		</div>


		<div class="input - name">
			<label for="name">이름 : </label>
			<input type="text" id="name" name="name">
		</div>


		<div class="input - addr">
			<label for="addr">주소 : </label>
			<input type="text" id="addr" name="addr">
		</div>

	<input type="submit" value="회원가입하기">

	</form>

</body>
</html>