<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>05_ConfigServlet</display-name>
  <welcome-file-list>
    <welcome-file>config2.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ConfigServlet1</display-name>
    <servlet-name>ConfigServlet1</servlet-name>
    <servlet-class>servlet.config.ConfigServlet1</servlet-class>
    <init-param>
      <param-name>name</param-name>
      <param-value>김유정</param-value>
    </init-param>
    <init-param>
      <param-name>addr</param-name>
      <param-value>서울</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfigServlet1</servlet-name>
    <url-pattern>/cs1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfigServlet2</display-name>
    <servlet-name>ConfigServlet2</servlet-name>
    <servlet-class>servlet.config.ConfigServlet2</servlet-class>
    <init-param>
      <param-name>path</param-name>
      <param-value>D:\\test\\count_save.txt</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfigServlet2</servlet-name>
    <url-pattern>/cs2</url-pattern>
  </servlet-mapping>
  
  
</web-app>