<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	resultMap에서 TB_STUDENT, TB_DEPARTMENT
	id, result - 앞에서 배운 건 여기까지 였다면
	<association property="department" resultMap="departmentMap"/>
	
	showStudent
 -->

 <mapper namespace="studentMapper">
 
 	
    <!-- 
 	<resultMap type="Student" id="studentMap">
 		<id property="studentNo" column="STUDENT_NO"/>
 		<result property="studentName" column="STUDENT_NAME"/>
 		<result property="studentAddr" column="STUDENT_ADDRESS"/>
 		<collection property="department" ofType="Department">
            <result property="department_No" column="DEPARTMENT_NO" />
            <result property="department_Name" column="DEPARTMENT_NAME" />
            <result property="category" column="CATEGORY" />
       </collection>
 	</resultMap>
 	-->
 	
 	<resultMap type="Student" id="studentMap">
    <id property="studentNo" column="STUDENT_NO"/>
    <result property="studentName" column="STUDENT_NAME"/>
    <result property="studentAddr" column="STUDENT_ADDRESS"/>
    <association property="department" resultMap="departmentMap"/>
	</resultMap>
 	
 	<resultMap type="Department" id="departmentMap">
    <id property="department_No" column="DEPARTMENT_NO"/>
    <result property="department_Name" column="DEPARTMENT_NAME"/>
    <result property="category" column="CATEGORY"/>
	</resultMap>
 	
 	
 	 <select id="showAllStudent" parameterType="String" resultMap="studentMap">
 	 	SELECT STUDENT_NO, STUDENT_NAME, STUDENT_ADDRESS, TB_DEPARTMENT.DEPARTMENT_NO, DEPARTMENT_NAME, CATEGORY 
 	 	FROM TB_STUDENT
 	 	INNER JOIN TB_DEPARTMENT
 	 	ON(TB_STUDENT.DEPARTMENT_NO = TB_DEPARTMENT.DEPARTMENT_NO)
 	 	<if test="word != ''">
 	 		<where>
 	 			STUDENT_NO LIKE '%'||#{word}||'%'
 	 			OR STUDENT_NAME LIKE '%'||#{word}||'%'
 	 			OR STUDENT_ADDRESS LIKE '%'||#{word}||'%'
 	 			OR DEPARTMENT_NAME LIKE '%'||#{word}||'%'
 	 			OR CATEGORY LIKE '%'||#{word}||'%'
 	 		</where>
 	 	</if>
 	 </select>
 	 
 	 <select id="allPrint" resultType="Department">
 	 	SELECT *
 	 	FROM TB_DEPARTMENT
 	 </select>
 </mapper>
 
