<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>회원조회</h1>
	<form action="/find.do" method="post">
	
		<!-- 
		검색할 회원 아이디를 입력해주세요.<br>
		
		아이디 : <input type="text" name="id"> <br>
		주소 : <input type="text" name="addr">
		-->
		 
		<label>
		<input type="checkbox" name="checkId" value="USER1"> user1
		</label>
		
		<label>
		<input type="checkbox" name="checkId" value="USER2"> user2
		</label>
		
		<input type="submit" value="조회">
	</form>
</body>
</html>




